<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.203" targetFramework="net461" />
  <package id="FontAwesome.Sharp" version="5.2.0" targetFramework="net461" />
  <package id="IB.CSharpApi" version="9.73.7" targetFramework="net461" />
  <package id="IB.CSharpApiClient" version="1.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>